*{
    border-radius: 5px;
}
body{
    background-color: antiquewhite;
    font-family: "ClashDisplay-Regular";
    width: 90.5vw;
    height: 100%;
    padding: 10px;
}
.container{
    width: 100%;
    height: 100%;
}
#title{
    font-family:'CabinetGrotesk-Bold';
    width: 100%;
    margin-block:5vh;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: left;
    word-spacing: 5px;
    margin-bottom: 10%;
}
.option{
    font-family: "ClashDisplay-Regular";
    background-color: #001C36;
    padding: 7px;
    appearance: none;
    color: #FFF ;
    width: 100%;
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
    text-align: center;
}
.fromTo{
    background-color: #001C36;
    appearance: none;
    color: #FFF ;
    width: 12.2%;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    margin-left: 1%;
}
#fromAya{
    margin-right: 1%;
}
.ChooseAya{
    width: 100%;
    font-family: "ClashDisplay-Regular";
    font-size: 1.4rem ;
    font-weight: 400;
    line-height: 0.3rem;
    text-align: left;
}

.rebeat{
    font-family: "ClashDisplay-Regular";
    display: inline-block;
    color: #FFF;
    background-color: #001C36;
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
    width: 39%;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}
.rebeatNumber , .inc{
    color: #FFF;
    background-color: #001C36;
    padding: 10px 7px;
    width: 5%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    align-items: center;
    border: 2px solid #001C36;
    vertical-align: middle;
}
.rebeatNumber{
    margin-left: 12px;
}
.inc{
    padding: 10px;
    margin-left: 6px;
    cursor: pointer;
}

.rebeatNumber::-webkit-inner-spin-button {
    appearance: none;
}

.btns{
    margin-top: 15px;
    width: 100%;
    direction: rtl;
}
#StartBtn , #StopBtn , #playBtn{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    border: none;
    width: 25%;
    margin-left: 9px;
    padding: 5px 8px;
    cursor: pointer;
}
#StartBtn{
    background-color: #328016;
}
#StopBtn{
    background-color: #FE3D00;
}
#playBtn{
    background-color: #001C36;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 3px;
}
#abdullah{
    margin-top: 5px;
}
.copy:hover {
    color: #009688;
} 